.divider {
    border-right: 1px solid grey;
    text-align: center;
}

.profile-name {
    font-size: 60px;
}

.divide-top {
    border-top: 2px solid black;
}

.social-media {
    padding: 3px;
}

.skills {
    background-color: #2d5986;
    border-radius: 5px;
    font-size: 30px;
    padding: 17px;
    color: white;
}

.tag {
    color: white;
    background-color:gray;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;

}