#profilePic {
	border-radius: 50%;
	border: 1px solid black;
}

#profileName {
	font-size: 75px;
	font-family: "Helvetica Neue";
}

/* .profileBubble {
	border: 1px solid #292b2c;
	border-radius: 25px;
	padding: 3px;
} */